@import 'variables.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $text-color;
}

.page {
  display: flex;
  width: 1440px;
  margin: auto;
  background-color: $page-background-color;
}

.cards {
  display: flex;
  justify-content: space-between;
  width: 1176px;
  margin: auto;
}

.price-card {
  position: relative;
  width: 380px;
  height: 770px;
  overflow: hidden;
  background-color: $price-card-background-color;

  &_popular {
    .price-card__badge {
      display: flex;
    }
  }

  &__badge {
    display: none;
    width: 147px;
    height: 25px;
    position: absolute;
    top: 31px;
    left: 263px;
    transform: rotate(45deg);
    background-color: $red-color;
  }

  &__badge-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    margin: auto;
  }

  &__title {
    display: flex;
    flex-direction: column;
    height: 64px;
    margin: 0;
    margin-top: 33px;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
  }

  .green-color &__title {
    width: 100px;
    margin-left: 140px;
    margin-right: 140px;
  }

  .blue-color &__title {
    width: 163px;
    margin-left: 108px;
    margin-right: 108px;
  }

  .orange-color &__title {
    width: 176px;
    margin-left: 102px;
    margin-right: 102px;
  }

  &__title-small-text {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
  }

  &__price {
    display: flex;
    height: 105px;
    margin-top: 33px;
  }

  .green-color &__price {
    background-color: $green-color;
  }

  .blue-color &__price {
    background-color: $blue-color;
  }

  .orange-color &__price {
    background-color: $orange-color;
  }

  &__price-text {
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    margin: auto;
  }

  &__description {
    width: 327px;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    margin: 40px 26px 0;
  }

  &__options-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 40px;
  }

  &__options-list-item {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    padding: 16px 21px 16px 22px;
  }

  &__options-list-item:nth-child(odd) {
    background-color: $odd-list-item-background-color;
  }

  &__options-list-item-icon {
    display: inline-block;
    width: 15px;
    height: 13px;
    margin-right: 22px;
  }

  .green-color &__options-list-item-icon {
    background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png');
  }

  .blue-color &__options-list-item-icon {
    background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png');
  }

  .orange-color &__options-list-item-icon {
    background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png');
  }

  &__order-btn {
    width: 154px;
    height: 40px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-radius: $border-radius;
    margin: 39px 113px 40px 112px;
  }

  .green-color &__order-btn {
    background-color: $green-color;
  }

  .blue-color &__order-btn {
    background-color: $blue-color;
  }

  .orange-color &__order-btn {
    background-color: $orange-color;
  }
}
