$text-color: #fff;

$page-background-color: #141b1c;
$price-card-background-color: #334247;
$odd-list-item-background-color: #2e3b3f;

$green-color: #5bb189;
$blue-color: #3a6ba5;
$orange-color: #ec632a;
$red-color: #dc3f45;

$border-radius: 20px;
